<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.read.ireader">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>  <!-- sdcard读权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReadActivity"
            android:label="@string/title_activity_read"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LabelActivity"
            android:label="@string/title_activity_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PostilActivity"
            android:label="@string/title_activity_postil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecordActivity"
            android:label="@string/title_activity_record"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>